{% extends "Vet/base.html" %}

{% load static %}

{% block main %}

<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de mi:
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                    
                    <h3 class="card-title mb-3">Nicolas Esteban Puerto Sanchez</h3>
                    <p class="card-text">Ingeniero geográfo y ambiental</p>
                    
                        
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola a todos!!, mi nombre es Nicolas Puerto, tengo 24 años y tome este curso para aprender sobre Python, he logrado hacer grandes avances en mis conocimientos, y realize esta aplicación con la idea de que las personas puedan donar para que animales puedan ser tratados, conociendo al animal con una foto, su nombre, el valor de su tratamiento y poder enviar un mensaje para pedir más información. </p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>

{% endblock %}

