{%extends "Vet/base.html" %}

{% load static %}

{% block main %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Veterinaria Nuevo Futuro</h1>
          <p class="lead text-body-secondary">Por favor da click en animales para poder visualizar los animales que necesitan ayuda en este momento, tambien puedes enviarnos un mensaje tanto en el navegador como en los botones</p>
          <p>
            <a href="{% url 'mensaje-create' %}" class="btn btn-primary my-2">Enviar mensaje</a>
            <a href="{% url 'animal-list' %}" class="btn btn-secondary my-2">Animales</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        {% block cards %} {% endblock %}
      </div>
    </div>
  
  </main>
{% endblock %}